[submodule "themes/learn"]
	path = themes/learn
	url = https://github.com/matcornic/hugo-theme-learn.git
[submodule "public"]
	path = public
	url = https://github.com/choonho/choonho.github.io.git
	branch = master
